name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: mini-crm/package-lock.json
        
    - name: Install Dependencies
      working-directory: ./mini-crm
      run: npm ci
      
    - name: Run Tests
      working-directory: ./mini-crm
      run: npm test
      
    - name: Run Lint
      working-directory: ./mini-crm
      run: npm run lint
